.toggle-button {
  background-color: rgb(226,227,227);
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
}

.is-toggled {
  background-color: black;
  color: white;
}