body {
  font-family: Arial;
}

.subscribe-button {
  border: none;
  background-color: #010001;
  color: #F1F0F1;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
}

.is-subscribed {
  background-color: #F1F0F1;
  color: #010001;
}

.cost-input {
  font-size: 15px;
  padding: 10px;
}

.calculate-button {
  background-color: #008101;
  color: #F1F0F1;
  border: none;
  font-size: 15px;
  padding: 12px 15px;
  cursor: pointer;
}

.cost-error {
  color: red;
}